*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajust later relative to the content and font-family */ 
body{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #002922;
}
/* Nav Bar ajustments and styling overall*/
.navBar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #31B189;
  padding:  0 20px;
  z-index: 1;
}
/* Nav Links ajustments and placement*/
.navLinks {
  display: flex;
  gap: 50px;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 50px;
  color: #FCF7ED;
  text-align: center;
  margin-top: 200px;
}

.hyruleCreatures {
  display: flex;
  flex-wrap: wrap;
  /* Allow cards to wrap to the next line */
  justify-content: center;
  /* Center cards horizontally */
  margin-top: 20px;
  margin-bottom: 100px;
}

.creature {
  --main-color: #002922;
  --bg-color: #FCF7ED;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  margin: 1rem;
}

.creatureImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.creatureName {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
}

.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Footer ajustments overall*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31B189;
  height: 80px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
}
/* Footer github button */
    .Btn {
      border: none;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: .4s;
      cursor: pointer;
      position: relative;
      background-color: #002922;
      overflow: hidden;
    }

    .svgIcon {
      transition-duration: .3s;
    }

    .svgIcon path {
      fill: white;
    }

    .text {
      position: absolute;
      color: rgb(255, 255, 255);
      width: 120px;
      font-weight: 600;
      opacity: 0;
      transition-duration: .4s;
    }

    .Btn:hover {
      width: 110px;
      transition-duration: .4s;
      border-radius: 30px;
    }

    .Btn:hover .text {
      opacity: 1;
      transition-duration: .4s;
    }

    .Btn:hover .svgIcon {
      opacity: 0;
      transition-duration: .3s;
    }